body {
    padding: 50px 150px 0 150px;
    color: rgba(0,0,0,0.8);
}

h1 {
    font-size: 35px;
    margin: 0;
    min-height: 50px;
}

form textarea {
    width: 100%;
    min-height: 30px;
    font-size: 20px;

    resize: none;

    border: 2px solid rgba(0,0,0,0.8);
    border-radius: 10px;

    margin-bottom: 20px;
    word-break: break-all;

    padding: 20px;
}

form .text {
    resize: vertical;
    min-height: 100px;
}

form textarea:focus {
    background-color: rgba(0,0,0,0.1);
}

form div {
    text-align: center;
}

form div input {
    width: 150px;
    height: 50px;
    border-radius: 50px;

    border: none;
    background-color: rgb(138, 23, 23);
    color: white;
    font-size: 20px;

    cursor: pointer;
}

.back {
    position: absolute;
    font-size: 40px;
    text-decoration: none;

    color: rgb(138, 23, 23);

    top: 5%;
    left: 5%;
}